.site-layout {
    .ant-tabs-nav {
        height: 29px;
        position: absolute;
        left: 20px;
        .ant-tabs-tab-active {
            .ant-tabs-tab-btn {
                color: #fff;
            }
            
            // background-color: #1890ff;
            // color: #fff;
            .ant-tabs-tab-remove {
                color: #fff;
            }
        }
    }
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
        background: #1890ff;
    }
}
